.App {
  display: grid;
  grid-template-rows: 2fr 10fr;
}

.text {
  text-align: center;
}

.content {
  background-image: url("./images/location-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
